<form name="formName" ng-submit="saveModel(formData)">
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-12 column">
                <div class="heading-profile">
                    <h2>Create Master Reform</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="widget">
        <div class="form-elements-sec">
            <div class="sec">
                <div class="clearfix"></div>
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Category</label>
                            <input type="text" ng-model="formData.category" class="form-control">
                        </div>
                    </div>
                </div>
                <div ng-repeat="item in formData.questionAnswerList">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Question</label>
                                <input type="text" ng-model="item.question" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Points</label>
                                <input type="text" ng-model="item.points" class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <!--<div class="" ng-repeat="item in formData.questionAnswerList">-->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Answer</label>
                                <input type="text" ng-model="item.question" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Points</label>
                                <input type="text" ng-model="item.points" class="form-control">
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="text-center mt20 odd-even-button">
        <button class="btn btn-default" type="submit" ng-disabled="formName.$invalid">Save</button>
    </div>
    </div>
</form>