<form name="formName" ng-submit="saveMasterReform(formData)">
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-12 column">
                <div class="heading-profile">
                    <h2>Create Master Reform</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="widget">
        <div class="form-elements-sec">
            <div class="sec">
                <div class="clearfix"></div>
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Category</label>
                            <input type="text" ng-model="formData.category" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Question</label>
                            <input type="text" ng-model="dataList.question" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Points</label>
                            <input type="text" ng-model="dataList.points" class="form-control">
                        </div>
                    </div>
                    <label>Add Answer</label>
                    <button class="btn btn-primary" type="button" ng-click="addAnswer();"><i class="fa fa-plus"></i></button>

                </div>
                <div class="row" ng-repeat="ans in dataList.answers">
                    <!--<div class="" ng-repeat="item in formData.questionAnswerList">-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Answer</label>
                            <input type="text" ng-model="ans.answer" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Points</label>
                            <input type="text" ng-model="ans.points" class="form-control">
                        </div>
                    </div>

                    <!--</div>-->
                </div>
                <button class="btn btn-primary" type="button" ng-click="addQuestion(dataList);">submit Question</button>
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Question</th>
                                <th>Points</th>
                                <th>Answer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in formData.questionAnswerList">
                                <td>{{item.question}}</td>
                                <td>{{item.points}}</td>
                                <td>
                                    <ul ng-repeat="ans in item.answers">
                                        <li>{{ans.answer}}</li>
                                        <li>{{ans.points}}</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="text-center mt20 odd-even-button">
        <button class="btn btn-default" type="submit" ng-disabled="formName.$invalid">Save</button>
    </div>
    </div>
</form>