<div class="top-bar">
    <div class="logo">
        <a title="Rusa" ui-sref="home"><img src="frontend/img/logo.png" alt="Rusa" height="55"></a>
        <div class="menu-options"><span class="menu-action"><i></i></span></div>
    </div>
    <div class="quick-links">
        <ul>
            <li class="user-name">Welcome, <span>Sohan</span></li>
            <li>
                <a title="Logout" class="show-stats red-skin" tooltip-placement="bottom" uib-tooltip="Logout"><i class="fa fa-power-off"></i></a>
            </li>
        </ul>
    </div>
</div>

<!-- Top Bar -->
<header class="side-header light-skin opened-menu">
    <div class="admin-details">
        <span>
        <img ng-src="frontend/img/logo.png" alt="{{profile.name}} {{profile.surname}}" />
    </span>
        <h3>Sohan Honakeri</h3>
    </div>
    <div class="menu-scroll">
        <div class="side-menus">
            <nav ng-include="template.menu"></nav>
        </div>
    </div>
</header>