<!--<div ng-include="template.header" class="template header"></div>
<div ng-include="template.content" class="template content"></div>
<div ng-include="template.footer" class="template footer"></div>-->

<div class="account-user-sec">
    <div class="account-sec">
        <div class="account-top-bar" ng-include="template.header" class="template header" ng-controller="headerctrl"></div>
        <div ng-include="template.content" class="template content main-content"></div>
        <div ng-include="template.footer" class="template footer footer-fix"></div>
    </div>
</div>