<div class="heading-sec">
    <div class="heading-profile">
        <h2>Overview</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="widget">
            <div class="activity-sec">
                <div class="widget-title">
                    <h3>All States</h3>
                    <!--<span>Click on a country</span>-->
                </div>
                <div class="map-viewer make-scroll">
                    <!--<highchart id="map" class="map-viewer" map="mapConfig.series.mapdata" config="mapConfig"></highchart>-->
                    <div class="states-score">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>States</th>
                                    <th>Out of 61</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="state in states | orderBy:'-score'">
                                    <td>{{state.name}}</td>
                                    <td>{{state.score}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="widget">
            <div class="activity-sec">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Top 5 </th>
                            <th>Out of 61</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="state in states | orderBy:'-score' | limitTo : 5">
                            <td>{{state.name}}</td>
                            <td>{{state.score}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="widget">
            <div class="activity-sec">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Bottom 5 </th>
                            <th>Out of 61</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="state in states | orderBy:'score' | limitTo : 5">
                            <td>{{state.name}}</td>
                            <td>{{state.score}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="activity-sec">
                <div class="widget-title">
                    <div class="button-group pull-right">
                        <button class="btn btn-primary">Top 5</button>
                        <button class="btn btn-primary">Bottom 5</button>
                        <button class="btn btn-primary">Custom 5</button>
                    </div>
                    <h3>Comparison Graph</h3>
                </div>
                <highchart id="overview-graph" config="graphConfig"></highchart>

            </div>
        </div>

    </div>
</div>