<div class="heading-sec">
    <div class="heading-profile">
        <h2>New Reforms</h2>

    </div>
</div>
<div class="widget">
    <div class="activity-sec">
        <div class="widget-title">
            <h3>SHEC</h3>
        </div>
        <div class="table-data">
            <div class="qna">
                <label>Whether SHEC exists already?</label>
                <div class="radio">
                    <label><input type="radio" name="radio">SHEC exists in the state as per RUSA guidelines</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="radio">SHEC exists, but willing to rework according to RUSA Guidelines</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="radio">SHEC exists and not willing to rework according to RUSA Guidelines</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="radio">SHEC not by Act</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="text-center mt20">
    <button class="btn btn-primary" type="button" ng-click="">Save</button>
    <a class="btn btn-danger" ui-sref="reform-list">Cancel</a>
</div>