<div class="heading-sec">
    <div class="heading-profile">
        <h2>Karnataka</h2>
        <span>Total Score: 23</span>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="widget">
            <div class="activity-sec">
                <div class="widget-title">
                    <div class="question-viewer make-scroll">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Question</th>
                                    <th>Points</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in reforms3">
                                    <td>{{$index+1}}</td>
                                    <td>{{r.name}}</td>
                                    <td>{{r.y}}</td>
                                    <td>
                                        <highchart config="sparkLineConfig"></highchart>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Total</th>
                                    <th>{{sumReceived()}}</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!--<highchart id="state-map" class="map-viewer" chart-type-map="map" config="mapConfig"></highchart>-->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="widget">
            <div class="activity-sec">
                <div class="widget-title">
                    <select ng-model="reforms.selected" ng-options="r for r in reforms" class="form-control"><option value="">Please Select</option></select>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label>Whether SHEC exists already?</label>
                    <div class="checkbox">
                        <label><input type="checkbox">SHEC exists in the state as per RUSA guidelines</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox">SHEC exists, but willing to rework according to RUSA Guidelines</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox">SHEC exists and not willing to rework according to RUSA Guidelines</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox">SHEC not by Act</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="widget">
            <div class="activity-sec">
                <div class="widget-title">
                    <h3>Graph Presentation</h3>
                    <highchart id="state-graph" config="graphConfig"></highchart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="widget">
            <div class="activity-sec">
                <div class="widget-title">
                    <h3>Score Meter</h3>
                </div>
                <highchart id="state-meter" class="meter-viewer" config="meterConfig"></highchart>
            </div>
        </div>
    </div>
</div>