<div class="heading-sec">
    <div class="heading-profile">
        <h2>Maharashtra <span class="points">(20 points)</span></h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="widget">
            <div class="activity-sec">
                <div class="widget-title">
                    <h3>State Name</h3>
                    <div class="question-viewer make-scroll">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Question</th>
                                    <th>Points</th>
                                    <th>Out of</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in reforms">
                                    <td>{{$index+1}}</td>
                                    <td>{{r.name}}</td>
                                    <td>{{r.received}}</td>
                                    <td>{{r.outOf}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Total
                                    </th>
                                    <th>{{sumReceived()}}</th>
                                    <th>{{sumOutOf()}}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!--<highchart id="state-map" class="map-viewer" chart-type-map="map" config="mapConfig"></highchart>-->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="widget">
            <div class="activity-sec">
                <div class="widget-title">
                    <h3>Score Meter</h3>
                </div>
                <highchart id="state-meter" class="meter-viewer" config="meterConfig"></highchart>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="activity-sec">
                <div class="widget-title">
                    <h3>Graph</h3>
                    <highchart id="state-graph" config="graphConfig"></highchart>
                </div>
            </div>
        </div>
    </div>
</div>