<div class="overview">
    <div class="container-fluid">
        <div class="heading-profile">
            <h2>States</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="map-chart text-center">
                    <img src="frontend/img/country.jpg" alt="" class="">
                    <!--<highchart id="chart1" series="chart.series" title="chart.title" options="chart.options"></highchart>-->
                    <!--<highchart id="chart2" config="chartMap"></highchart>-->
                </div>
            </div>
            <div class="col-md-4">
                <div class="map-speedmoter text-center">
                    <img src="frontend/img/speedometer.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <!--<div class="col-md-4">
                <div class="box-info">
                    <div class="box-5 jumbotron">
                        <h4 class="title">Maharastra</h4>
                        <table class="table table-condensed text-center">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Out of 30</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2017</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>2016</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>2015</td>
                                    <td>15</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="line-chart bg-white">
                    <highchart id="chart1" config="chartConfig"></highchart>
                </div>
            </div>
        </div>
    </div>
</div>